<template>
  <div></div>
</template>

<script>
export default {
  auth: false,

  async asyncData({ $cookies, $auth, error, redirect, env }) {
    if ($auth.loggedIn) {
      return redirect(`/`);
    }

    // fetch the token
    const token = await $cookies.get(env.authCookieName);

    // check the third party cookie
    if (token === null || token === undefined)
      return error({ statusCode: 401 });

    // try to loggin with cookie token
    try {
      await $auth.loginWith("local", { data: { token } });

      if ($auth.loggedIn) {
        return redirect(`/`);
      }
    } catch (e) {
      if (e.response) return error({ statusCode: 401 });

      return error({ statusCode: 500 });
    }
  }
};
</script>