<template>
  <div></div>
</template>

<script>
export default {
  async asyncData({ $axios, redirect, env }) {
    const { data: session } = await $axios.get(`/sessions/default`);

    if (session) return redirect(`/hm/${session._id}`);
  }
};
</script>
