<template>
  <div class="container d-flex flex-column px-6">
    <div class="mt-3 mb-5 d-flex">
      <logo />
      <button
        :disabled="making"
        class="btn btn-primary mr-auto"
        @click="making = true"
      >
        <b-icon-plus />
        سوال جدید
      </button>
    </div>

    <form
      v-if="making"
      class="row justify-content-center"
      @submit.prevent="createQuestion"
    >
      <div class="col-md-8 col-lg-7">
        <div class="form-group">
          <label>عنوان سوال</label>
          <input v-model="newQuestion.title" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>گروه</label>
          <input
            v-model="newQuestion.group"
            name="group"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>آدرس تصویر <small class="text-muted">(اختیاری)</small></label>
          <input v-model="newQuestion.image" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label>گزینه‌ها</label>
          <div class="row">
            <div
              v-for="(option, key) in newQuestion.options"
              :key="key"
              class="col-6 mb-2"
            >
              <b-input-group>
                <b-input-group-prepend is-text>
                  {{ key | qoption }}
                </b-input-group-prepend>
                <input
                  v-model="newQuestion.options[key]"
                  type="text"
                  class="form-control"
                />
              </b-input-group>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="mw-md-50">
            <label>پاسخ درست</label>
            <select v-model="newQuestion.answer" class="form-control">
              <option
                v-for="(option, key) in newQuestion.options"
                :key="key"
                :value="key"
              >
                {{ key | qoption }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <button :disabled="busy" type="submit" class="btn btn-success">
            <spinner v-if="busy" class="ml-2" />
            <b-icon-cloud-arrow-up v-else class="ml-2" />
            ثبت سوال جدید
          </button>
          <button class="btn btn-white" @click="making = false">
            <b-icon-x class="ml-2" />
            انصراف
          </button>
        </div>
      </div>
    </form>
    <div v-else>
      <div v-if="length" class="mb-3">{{ length.toString() | fn }} سوال</div>
      <div
        v-for="(question, _id) in session.questions"
        :key="_id"
        class="card mb-2"
      >
        <div class="card-body d-flex">
          <div class="flex-grow-1">
            <span class="badge badge-pill badge-light">
              {{ question.group }}
            </span>
            <h5 class="mt-3 mb-0">
              {{ question.title }}
            </h5>
          </div>
          <div
            class="w-25 mr-3 d-flex flex-column small flex-shrink-0 flex-grow-0"
          >
            <span
              v-for="(option, key) in question.options"
              :key="key"
              :class="[
                { 'font-weight-bold': key === decrypt(question.answer) }
              ]"
            >
              {{ option }}
            </span>
          </div>
          <div class="mr-auto">
            <button
              :disabled="deleting === _id"
              class="btn"
              @click="deleteQuestion(_id)"
            >
              <spinner v-if="deleting === _id" />
              <b-icon-trash v-else />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="py-3 border-top small mt-auto">
      ساخته شده با
      <span class="text-danger">❤️</span> توسط جامعه یواکس شیراز
    </div>
  </div>
</template>

<script>
import ObjectID from "bson-objectid";
import omit from "lodash/omit";
import Crypto from "crypto-js";

const newQuestion = () => ({
  _id: ObjectID(),
  title: null,
  group: null,
  image: null,
  options: { a: null, b: null, c: null, d: null },
  answer: null
});

export default {
  middleware: ["auth", "admin"],

  asyncData({ $axios, route }) {
    return $axios.get(`/sessions/${route.params.id}`).then(response => {
      return {
        session: response.data.data,
        making: false,
        busy: false,
        deleting: null,
        newQuestion: newQuestion()
      };
    });
  },

  computed: {
    length() {
      return Object.keys(this.session.questions).length;
    }
  },

  watch: {
    making(v) {
      if (v) this.newQuestion = newQuestion();
    }
  },

  methods: {
    decrypt(answer) {
      const decryptedAnswer = Crypto.AES.decrypt(answer, process.env.appKey);

      return decryptedAnswer.toString(Crypto.enc.Utf8);
    },
    createQuestion() {
      this.busy = true;
      this.session.questions[this.newQuestion._id] = this.newQuestion;

      this.$axios
        .post(`/sessions/${this.session._id}/questions`, {
          questions: this.session.questions
        })
        .then(() => {
          this.busy = false;
          this.making = false;
        });
    },

    deleteQuestion(qid) {
      this.deleting = qid;
      this.$axios
        .delete(`/sessions/${this.session._id}/questions/${qid}`)
        .then(r => {
          this.session.questions = omit(this.session.questions, qid);
          this.deleting = null;
        });
    }
  }
};
</script>
