<template>
  <div></div>
</template>

<script>
export default {
  middleware: ["auth", "admin"],

  async asyncData({ $axios, redirect }) {
    const { data: session } = await $axios.post("/sessions");

    if (session) redirect(`/sessions/${session._id}`);
  }
};
</script>
