<template>
  <div v-if="users">
    <h3 class="mb-4">رده بندی شرکت‌کننده‌گان</h3>
    <h5
      v-for="(user, i) in users"
      :key="i"
      :class="[
        'p-4 rounded-lg d-flex align-items-center my-2',
        { 'bg-light': i > 2 },
        { 'bg-gray-500': i === 2 },
        { 'bg-gray-600': i === 1 },
        { 'bg-primary': i === 0 }
      ]"
    >
      <span class="badge badge-white badge-circle ml-3 font-size-lg pt-3">
        {{ (i + 1) | fn }}
      </span>
      <span>{{ user.name }}</span>
      <span class="mr-auto ml-2 small">امتیاز</span>
      <span class="badge badge-white badge-circle ml-3 font-size-lg pt-3">
        {{ user.score.toString() | fn }}
      </span>
    </h5>
  </div>

  <div v-else class="text-center py-7 d-flex flex-column align-items-center">
    <spinner class="display-1 text-primary" />
    <span class="mt-2">اندکی صبر ...</span>
  </div>
</template>

<script>
import { orderBy } from 'lodash'
import Spinner from "../Spinner.vue";

export default {
  components: { Spinner },
  props: {
    leaders: Array
  },

  computed: {
    users() {
      if (!this.leaders || !this.leaders.length) return null;

      return orderBy(this.leaders, ['score'], ['desc']).slice(0, 19);
    }
  }
};
</script>
