<template>
  <div>
    <div class="d-flex align-items-center">
      <span class="badge badge-lg badge-light ml-2">
        {{ index | fn }} از {{ length | fn }}
      </span>
      <span class="badge badge-lg badge-light">
        {{ question.group }}
      </span>

      <timer
        :seconds="question.timeout ? 0 : session.countdown"
        @ended="timeout"
      />
    </div>
    <div>
      <h3 class="mt-5">
        {{ question.title }}
      </h3>
      <div v-if="question.image" class="w-75 mx-auto my-4">
        <img :src="question.image" class="img-fluid rounded-lg" />
      </div>
    </div>
    <div class="row my-4">
      <div
        v-for="(option, key) in question.options"
        :key="key"
        class="col-6 my-2"
      >
        <button
          :class="[
            'btn btn-lg py-3 text-right btn-block',
            `btn-${answerColor(key)}`
          ]"
        >
          <span class="badge badge-white badge-circle">
            {{ key | qoption }}
          </span>
          {{ option | fn }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Crypto from "crypto-js";

export default {
  props: {
    session: Object
  },

  computed: {
    question() {
      return this.session.current;
    },

    index() {
      return (
        Object.keys(this.session.questions).indexOf(this.question._id) + 1
      ).toString();
    },

    length() {
      return Object.keys(this.session.questions).length.toString();
    }
  },

  methods: {
    timeout() {
      this.$axios.put(`/sessions/${this.session._id}/timeout`).then(() => {
        this.question.timeout = true;
      });
    },

    answerColor(answer) {
      const result = Crypto.AES.decrypt(
        this.question.answer,
        process.env.appKey
      );
      const readable = result.toString(Crypto.enc.Utf8);

      if (this.question.timeout && answer === readable) {
        return "success";
      }

      return "light";
    }
  }
};
</script>
