<template>
  <div class="container flex-grow-1 d-flex flex-column">
    <div class="color-logos" />
    <h1 class="mt-auto mb-10 mw-lg-75">
      دانش خودت رو در رقابت با دیگران به چالش بکش!
    </h1>
  </div>
</template>

<style lang="scss" scoped>
.color-logos {
  display: none;
  z-index: -1;
}

@include media-breakpoint-up(lg) {
  .color-logos {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/color-logo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 45%;
  }
}
</style>
