<template>
  <div class="container d-flex">
    <div class="row flex-grow-1">
      <div class="col-4 bg-light pt-7 pb-5 d-flex flex-column">
        <div v-if="next" class="mb-2">سوال بعدی: {{ nextIndex | fn }} از {{ length | fn }}</div>
        <div v-if="next" class="card">
          <div class="card-body">
            <div>
              <span class="badge badge-pill badge-light">
                {{ next.group }}
              </span>
              <h5 class="mt-3 mb-0">
                {{ next.title }}
              </h5>
              <img
                v-if="next.image"
                :src="next.image"
                class="img-fluid rounded mt-3"
              />
            </div>
          </div>
        </div>
        <div class="text-center d-flex flex-column align-items-center mt-auto">
          <button
            class="btn btn-white rounded-pill px-5 btn-lg"
            :disabled="!current || !current.timeout"
            @click="leaderboard"
          >
            رده بندی
          </button>

          <button
            v-if="next"
            class="btn btn-primary rounded-pill px-5 btn-lg mt-4"
            @click="nextQuestion"
          >
            <span v-if="current">سوال بعدی</span>
            <span v-else>شروع مسابقه</span>
          </button>
        </div>
      </div>
      <div class="col-8 d-flex flex-column px-6">
        <div class="d-flex align-items-center mt-3 mb-5">
          <logo />
          <div class="online-users mr-auto d-flex align-items-center">
            <span>{{ liveUsers.toString() | fn }}</span>
            <span class="badge badge-success badge-pill text-white mr-1"></span>
          </div>
        </div>

        <component :is="view" :session="session" :leaders="leaders" />

        <div v-if="view === 'Question'">
          <span v-if="!totalAnswers">هنوز کسی پاسخ نداده!</span>
          <span v-else>{{ totalAnswers | fn }} پاسخ</span>
        </div>

        <div class="py-3 border-top small mt-auto">
          ساخته شده با
          <span class="text-danger">❤️</span> توسط جامعه یواکس شیراز
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { mapMutations, mapActions } from "vuex";
import Warmup from "@/components/coordinate/Warmup";
import Question from "@/components/coordinate/Question";
import Leaderboard from "@/components/coordinate/Leaderboard";

let answerCheckInterval = null;

export default {
  components: { Warmup, Question, Leaderboard },

  middleware: ["auth", "admin"],

  async asyncData({ $axios, app, route }) {
    const response = await $axios.get(`/sessions/${route.params.id}`);
    const session = response.data.data;
    
    return {
      session,
      view: session.current ? "Question" : "Warmup",
      liveUsers: 0,
      leaders: null,
      totalAnswers: 0,
      busy: false
    };
  },

  computed: {
    channel() {
      return this.$socket.getChannel(`session:${this.session._id}`);
    },
    pChannel() {
      return this.$socket.getChannel(`performer:${this.session._id}`);
    },

    current() {
      return this.session.current;
    },

    next() {
      const keys = Object.keys(this.session.questions);

      if (this.current) {
        const index = keys.indexOf(this.current._id) + 1;
        const nextQuestions = this.session.questions[keys[index]];

        if (nextQuestions) {
          return {
            timeout: false,
            ...nextQuestions
          };
        }

        return null;
      }

      return {
        timeout: false,
        ...this.session.questions[keys[0]]
      };
    },

    nextIndex() {
      if (this.next) {
        return (
          Object.keys(this.session.questions).indexOf(this.next._id) + 1
        ).toString();
      }

      return 0;
    },

    length() {
      return Object.keys(this.session.questions).length.toString();
    }
  },

  mounted() {
    this.channel.on("ready", () => {
      this.channel.emit("adminHello");
    });

    this.channel.on("liveUsers", count => (this.liveUsers = count));

    this.pChannel.on("answersCount", count => (this.totalAnswers = count));

    this.checkAnswers();
  },

  destroyed() {
    clearTimeout(answerCheckInterval);
  },

  methods: {
    nextQuestion() {
      this.leaders = null;
      this.totalAnswers = 0;

      this.$axios
        .put(`/sessions/${this.session._id}/questions/${this.next._id}`)
        .then(() => {
          this.session.current = { ...this.next };
          this.view = "Question";

          this.checkAnswers();
        });
    },

    leaderboard() {
      this.view = "Leaderboard";

      this.$axios
        .get(`/sessions/${this.session._id}/leaderboard`)
        .then(({ data }) => {
          this.leaders = data;
        });
    },

    checkAnswers() {
      if (this.current) {
        this.pChannel.emit("getAnswers", {
          id: this.session._id,
          qid: this.current._id
        });

        if (!this.current.timeout) {
          answerCheckInterval = setTimeout(this.checkAnswers, 3000);
        }
      }
    }
  }
};
</script>

<style lang="scss">
.online-users {
  .badge {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 0;
  }
}
</style>
