html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

#__nuxt {
  min-height: 100%;
}

#__nuxt,
#__layout,
#ux-layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#ux-layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#ux-body {
  flex: 1 1 auto;
}

#ux-footer {
  
}
