$font-weight-lighter:         100 !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          900 !default;

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/YekanBakh/YekanBakh-Light.eot");
  src: url("/assets/fonts/YekanBakh/YekanBakh-Light.eot") format("embedded-opentype"),
    /* IE6-8 */ 
    url("/assets/fonts/YekanBakh/YekanBakh-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Light.woff")format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/YekanBakh/YekanBakh-Regular.eot");
  src: url("/assets/fonts/YekanBakh/YekanBakh-Regular.eot") format("embedded-opentype"),
    /* IE6-8 */ 
    url("/assets/fonts/YekanBakh/YekanBakh-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Regular.woff")format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/YekanBakh/YekanBakh-Bold.eot");
  src: url("/assets/fonts/YekanBakh/YekanBakh-Bold.eot") format("embedded-opentype"),
    /* IE6-8 */ 
    url("/assets/fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Bold.woff")format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
    url("/assets/fonts/YekanBakh/YekanBakh-Bold.ttf") format("truetype");
}
