<template>
  <div class="container d-flex">
    <div class="row justify-content-center flex-grow-1">
      <div
        class="col-sm-10 col-md-8 col-lg-6 col-xl-5 py-4 px-4 d-flex flex-column"
      >
        <div class="d-flex align-items-center">
          <logo />
          <timer
            v-if="started"
            :seconds="current.timeout ? 0 : session.countdown"
            @ended="timeout"
          />
        </div>

        <div v-if="started">
          <div class="mt-5">
            <span class="badge badge-pill badge-light">
              {{ current.group }}
            </span>
            <h3 class="mt-2 mb-0">
              {{ current.title }}
            </h3>
            <small v-if="timeoutErr" class="text-danger">
              زمان پاسخ به سوال به پایان رسیده است!
            </small>
            <div v-if="current.image" class="w-75 mx-auto my-4">
              <img :src="current.image" class="img-fluid rounded-lg" />
            </div>
          </div>

          <div class="my-5">
            <button
              v-for="(option, key) in current.options"
              :key="key"
              :disabled="current.timeout"
              :class="[
                'btn btn-lg py-3 text-right btn-block d-flex align-items-center',
                `btn-${answerColor(key)}`
              ]"
              @click="selectAnswer(key)"
            >
              <span class="badge badge-white badge-circle ml-3">
                {{ key | qoption }}
              </span>
              <span>{{ option.toString() | fn }}</span>
              <spinner v-if="loadingAnswer === key" class="ml-2 mr-auto" />

              <b-icon-check
                v-if="current.timeout && current.answer === key"
                class="mr-auto"
              />
            </button>
          </div>
        </div>

        <div v-else class="mt-auto">
          <div class="mb-8">
            <h1 class="mb-4">دانش خودت رو در رقابت با دیگران به چالش بکش!</h1>
            <button
              v-if="started"
              class="btn btn-secondary btn-lg rounded-pill px-5"
            >
              شروع کن
            </button>
            <div
              v-else
              class="d-inline-block alert alert-warning rounded-pill px-5"
            >
              <spinner class="ml-2" />
              هنوز رقابت شروع نشده!
            </div>
          </div>

          <div class="py-3 border-top small">
            ساخته شده با
            <span class="text-danger">❤️</span> توسط جامعه یواکس شیراز
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Crypto from "crypto-js";
export default {
  async asyncData({ $axios, route }) {
    const { data: session } = await $axios.get(`/sessions/${route.params.id}`);
    const { data: answers } = await $axios.get(
      `/sessions/${route.params.id}/answers`
    );

    return { session: session.data, answers: answers.answers };
  },

  data() {
    return {
      timeoutErr: false,
      loadingAnswer: null
    };
  },

  computed: {
    current() {
      return this.session.current;
    },

    started() {
      return this.current ? true : false;
    },

    channel() {
      return this.$socket.getChannel(`session:${this.session._id}`);
    },

    selectedAnswer() {
      return this.answers[this.current._id];
    }
  },

  created() {
    this.channel.on("ready", () => {
      this.channel.emit("hello");
    });
  },

  mounted() {
    this.channel.on("newQuestion", question => {
      this.timeoutErr = false;
      this.session.current = question;
    });
  },

  methods: {
    timeout() {
      this.session.current.timeout = true;
    },

    selectAnswer(answer) {
      if (!this.current.timeout) {
        this.loadingAnswer = answer;
        this.$axios
          .post(`/sessions/${this.session._id}/questions/${this.current._id}`, {
            answer
          })
          .then(() => {
            this.loadingAnswer = null;
            const succeed = answer === this.current.answer;
            this.answers = {
              ...this.answers,
              [this.current._id]: { answer, succeed }
            };
          })
          .catch(err => {
            this.loadingAnswer = null;
            if (err.response.status === 422) {
              this.timeoutErr = true;
            }
          });
      }
    },

    answerColor(answer) {
      if (this.selectedAnswer) {
        if (!this.current.timeout && answer === this.selectedAnswer.answer) {
          return "primary";
        }

        if (this.current.timeout) {
          const decryptedAnswer = Crypto.AES.decrypt(
            this.current.answer,
            process.env.appKey
          );

          const readable = decryptedAnswer.toString(Crypto.enc.Utf8);

          if (readable === answer) {
            return "success";
          }

          if (this.selectedAnswer.answer === answer) {
            return "danger";
          }
        }
      }

      return "light";
    }
  }
};
</script>
