@mixin badge-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;

  @at-root a#{&} {
    @include hover-focus() {
      color: color-yiq($bg);
      background-color: darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
    }
  }
}

@mixin badge-soft-variant($bg) {
  color: color-yiq(rgba($bg, .25), $bg);
  background-color: rgba($bg, .25);

  @at-root a#{&} {
    @include hover-focus() {
      color: color-yiq(rgba($bg, .25), $bg);
      background-color: darken(rgba($bg, .25), 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .2);
    }
  }
}
