// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value, true);
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

@each $breakpoint, $size in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .bg#{$infix}-transparent {
      background-color: transparent !important;
    }
    .bg#{$infix}-none {
      background-image: none !important;
    }

    .side-cover {
      width: calc(100% + (100vw - #{$size}) / 2 + 10px);
    }
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-cover {
  background: no-repeat center center/cover;
}
