.overlay {
  position: relative;
  z-index: 0;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $opac in (40, 50, 60, 70, 80, 90, 95) {
      .overlay#{$infix}-#{$opac} {
        &::after {
          opacity: $opac / 100 !important;
        }
      }
    }
  }
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  z-index: -1;
}

@each $color, $value in $theme-colors {
  .overlay-#{$color} {
    &::after {
      background-color: $value;
    }
  }
}
