// stylelint-disable declaration-no-important

// Common values
@each $position in $positions {
  .position-#{$position} {
    position: $position !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop in (top, right, bottom, left) {
      .#{$prop}#{$infix}-0 {
        #{$prop}: 0 !important;
      }

      @each $size, $length in $spacers {
        .#{$prop}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }

      .#{$prop}#{$infix}-auto {
        #{$prop}: auto;
      }
    }

    @each $prop in (top, bottom) {
      .fixed#{$infix}-#{$prop} {
        #{$prop}: 0;
      }
    }
  }
}

.fixed-top,
.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.z-n {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
