// stylelint-disable declaration-no-important
.shadow-sm {
  box-shadow: $box-shadow-sm rgba($dark, 0.075) !important;
}
.shadow {
  box-shadow: $box-shadow rgba($dark, 0.15) !important;
}
.shadow-lg {
  box-shadow: $box-shadow-lg rgba($dark, 0.175) !important;
}

@each $color, $value in $theme-colors {
  .shadow-#{$color}-sm {
    box-shadow: $box-shadow-sm rgba($value, 0.075) !important;
  }
  .shadow-#{$color} {
    box-shadow: $box-shadow rgba($value, 0.15) !important;
  }
  .shadow-#{$color}-lg {
    box-shadow: $box-shadow-lg rgba($value, 0.175) !important;
  }
}

.shadow-none {
  box-shadow: none !important;
}

.shadow-3d {
  box-shadow: -.5rem .5rem 0 rgba(233,236,239,.5);
}