// stylelint-disable declaration-no-important

// Width and height

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .m#{$abbrev}#{$infix}-#{$size} {
          max-#{$prop}: $length !important;
        }
        .min-#{$abbrev}#{$infix}-#{$size} {
          min-#{$prop}: $length !important;
        }
      }
    }
  }
}

// Viewport additional helpers
.min-vw-50 {
  min-width: 50vw !important;
}
.min-vw-100 {
  min-width: 100vw !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-70 {
  min-height: 80vh !important;
}
.min-vh-100 {
  min-height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}
.vw-50 {
  width: 50vw !important;
}
.vh-100 {
  height: 100vh !important;
}
.vh-50 {
  height: 50vh !important;
}
