<template>
  <svg
    width="146px"
    height="45px"
    version="1.1"
    viewBox="0 0 146 45"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <polygon
        id="path-1"
        points="0.82352 0.21478 44.585 0.21478 44.585 43.976 0.82352 43.976"
      />
      <polygon
        id="path-3"
        points="0 44.641 145.73 44.641 145.73 0.87943 0 0.87943"
      />
    </defs>
    <g fill="none" fill-rule="evenodd">
      <g id="intro" transform="translate(-1007 -60)">
        <g transform="translate(1007 60)">
          <g transform="translate(101.14 .66483)">
            <mask id="mask-2" fill="white">
              <use xlink:href="#path-1" />
            </mask>
            <path
              d="m21.86 43.976c-4.9411 0-10.022-1.9297-14.502-6.5375-15.584-15.143-0.51452-37.224 16.192-37.224 4.9411 0 10.022 1.9226 14.502 6.5366 15.584 15.144 0.51364 37.225-16.192 37.225"
              fill="#FFB300"
              mask="url(#mask-2)"
            />
          </g>
          <path
            d="m125.68 30.846c-5.0546 0-11.151-4.1267-11.899-8.0854 0.76166-3.9596 6.8514-8.0863 11.899-8.0863 3.6518 0 6.7503 2.1566 6.9042 8.0863-0.14688 5.9288-3.2525 8.0854-6.9042 8.0854zm11.571-8.2059c-0.10026-3.993-1.2621-7.1584-3.4653-9.4152-2.0634-2.11-4.8611-3.2243-8.1056-3.2243-3.3184 0-7.0309 1.2217-10.183 3.365-3.4653 2.3501-5.7019 5.3747-6.3088 8.5067l-0.16711 0.87424 0.16711 0.87512c0.59367 3.1443 2.8303 6.176 6.3026 8.5331 3.1513 2.1363 6.8638 3.365 10.189 3.365 3.2445 0 6.0493-1.1152 8.1056-3.2252 2.2032-2.256 3.3721-5.4213 3.4653-9.4205l0.007036-0.11346-0.007036-0.12049z"
            fill="#fff"
          />
          <mask id="mask-4" fill="white">
            <use xlink:href="#path-3" />
          </mask>
          <path
            d="m83.773 10.094-8.8789 3.8242 1.5781 3.666 8.8496-3.793-1.5488-3.6973zm-61.717 2.8281v3.6504h-4.5176v4.3301h9.0391v-4.3301h-0.001953v-3.6504h-4.5195zm26.039 1.7539v13.18c0 0.82147 0.10425 1.6059 0.31445 2.3535 0.21108 0.74759 0.54821 1.3963 1.0117 1.9434 0.46351 0.54882 1.0708 0.98532 1.8184 1.3125 0.74759 0.3263 1.6687 0.48828 2.7637 0.48828h1.5488c0.61126 0 1.1377-0.009262 1.5801-0.03125 0.4424-0.020229 0.83814-0.073769 1.1855-0.1582 0.34741-0.083554 0.66318-0.18976 0.94727-0.31641 0.28496-0.12577 0.55422-0.30492 0.80664-0.53711 0.42129 0.35796 0.92742 0.62303 1.5176 0.79102 0.58928 0.16887 1.1895 0.25195 1.8008 0.25195 1.4116 0 2.6436-0.32699 3.6973-0.98047 0.61126 0.42217 1.2957 0.69054 2.0547 0.80664 0.75814 0.1161 1.5578 0.17383 2.4004 0.17383h3.4766c0.52595 0 1.1808-0.015212 1.9609-0.046875 0.77837-0.031663 1.5152-0.13191 2.2109-0.30078 0.52595 0.16887 1.0907 0.26912 1.6914 0.30078 0.60071 0.031663 1.2578 0.046875 1.9746 0.046875h3.8242c0.94812 0 1.7945-0.1417 2.543-0.42578 0.74759-0.28496 1.3862-0.67982 1.9121-1.1855 0.52683-0.50572 0.92676-1.0949 1.2012-1.7695 0.27353-0.67371 0.41016-1.4024 0.41016-2.1816 0-0.6526-0.1256-1.3309-0.37891-2.0371-0.2533-0.70537-0.7372-1.4382-1.4531-2.1973l-6.3203-6.6992-3.1914 3.1602c-0.44328-0.14776-0.94853-0.2207-1.5176-0.2207-1.0114 0-1.9235 0.169-2.7344 0.50586-0.8118 0.33686-1.5002 0.78418-2.0684 1.3418-0.56905 0.55937-1.0124 1.1911-1.3281 1.8965-0.31663 0.70625-0.47461 1.4281-0.47461 2.166 0 0.69482 0.063682 1.21 0.18945 1.5469h-1.9277c-0.002966 0-0.004864 0.001922-0.007813 0.001953h-1.1914c-0.14776 0-0.2762-0.04759-0.38086-0.14258-0.10554-0.094988-0.1582-0.21552-0.1582-0.36328v-0.19141c-1e-6 -2.0009-0.5152-3.6022-1.5469-4.8027-1.0326-1.2014-2.5814-1.8008-4.6465-1.8008-1.9587-1e-6 -3.5022 0.60531-4.6289 1.8164-1.1275 1.212-1.6914 2.8721-1.6914 4.9785 0 0.14776-0.053541 0.26829-0.1582 0.36328-0.10642 0.094988-0.23115 0.14258-0.37891 0.14258h-1.2012-1.1992c-0.33774 0-0.50586-0.16812-0.50586-0.50586v-12.674h-5.752zm-7.9648 1.8965v4.3301h5.752v-4.3301h-5.752zm-27.27 6.0684v9.7324c0 0.71681-0.24283 1.308-0.72656 1.7715-0.48462 0.46263-1.2955 0.69336-2.4336 0.69336h-1.043c-1.0326 0-1.7787-0.20957-2.2422-0.63086s-0.69531-1.0327-0.69531-1.834v-6.7617h-5.7207v6.6035c0 1.3483 0.18929 2.56 0.56836 3.6348 0.37907 1.0739 0.9286 1.9859 1.6445 2.7344 0.71593 0.74759 1.5835 1.3196 2.6055 1.7207 1.022 0.40018 2.1852 0.60156 3.4922 0.60156h1.582c1.3474 0 2.547-0.23181 3.6016-0.69531 1.0528-0.46351 1.9434-1.1012 2.6699-1.9121s1.2811-1.7534 1.6602-2.8281c0.1959-0.55369 0.33697-1.1296 0.43164-1.7227 0.093142 0.026365 0.17628 0.057168 0.2793 0.078125 0.41074 0.084434 0.82676 0.12695 1.248 0.12695 0.27353 0 0.64703-0.062803 1.1211-0.18945 0.47494-0.12665 0.97424-0.41112 1.502-0.85352 0.44152 0.4424 0.96881 0.72686 1.5801 0.85352 0.61039 0.12665 1.1256 0.18945 1.5469 0.18945 0.61126 0 1.2126-0.062803 1.8027-0.18945 0.58928-0.12665 1.1489-0.41112 1.6758-0.85352 0.4424 0.4424 0.93136 0.72686 1.4688 0.85352 0.53738 0.12665 1.163 0.18945 1.8789 0.18945h0.98047 6.791c0.82147 0 1.5848-0.13156 2.291-0.39453 0.70625-0.26386 1.3126-0.64857 1.8184-1.1543s0.89951-1.1375 1.1836-1.8965c0.28496-0.75814 0.42773-1.6429 0.42773-2.6543v-5.2129h-5.7207v4.707c0 0.14776-0.052661 0.26937-0.1582 0.36524-0.10554 0.094108-0.221 0.14062-0.34766 0.14062h-6.2852-1.2012c-0.14776 0-0.27336-0.046517-0.37891-0.14062-0.10554-0.095868-0.15625-0.21748-0.15625-0.36524v-4.707h-5.5312v4.707c0 0.14776-0.053541 0.26937-0.1582 0.36524-0.10554 0.094108-0.2331 0.14062-0.38086 0.14062-0.33686 0-0.50391-0.16812-0.50391-0.50586v-4.707h-5.5938v4.707c0 0.33774-0.169 0.50586-0.50586 0.50586-0.14776 0-0.27424-0.046517-0.37891-0.14062-0.10554-0.095868-0.1582-0.21748-0.1582-0.36524v-4.707h-5.5312zm66.424 2.8125c0.29552 0 0.52644 0.1062 0.69531 0.31641 0.16887 0.21108 0.25391 0.44094 0.25391 0.69336 0 0.35884-0.090989 0.67062-0.26953 0.93359-0.17942 0.26386-0.40528 0.47957-0.67969 0.64844-0.27353-0.16887-0.49919-0.38458-0.67773-0.64844-0.17942-0.26298-0.26953-0.57475-0.26953-0.93359 0-0.25242 0.085038-0.48228 0.25391-0.69336 0.16799-0.2102 0.39872-0.31641 0.69336-0.31641zm6.0059 0.1582c0.31663 0.31663 0.57798 0.57291 0.78906 0.77344 0.2102 0.19965 0.36907 0.36446 0.47461 0.49023 0.10466 0.12665 0.17849 0.2269 0.2207 0.30078 0.042216 0.07388 0.064453 0.15277 0.064453 0.23633 0 0.14776-0.04759 0.25815-0.14258 0.33203-0.094988 0.074759-0.28028 0.10938-0.55469 0.10938h-1.1992c0.084434-0.25242 0.16245-0.5521 0.23633-0.90039 0.073879-0.34741 0.11133-0.73213 0.11133-1.1543v-0.1875zm-21.807 0.50391c0.61039 0 0.91797 0.34815 0.91797 1.043 0 0.4424-0.09606 0.72774-0.28516 0.85352-0.18998 0.12665-0.4015 0.18945-0.63281 0.18945-0.27441 0-0.50534-0.062803-0.69531-0.18945-0.1891-0.12577-0.2832-0.41112-0.2832-0.85352 0-0.69482 0.32503-1.043 0.97852-1.043z"
            fill="#000"
            mask="url(#mask-4)"
          />
        </g>
      </g>
    </g>
  </svg>
</template>
