<template>
  <span class="badge badge-lg px-0 badge-dark badge-circle mr-auto">
    {{ remained.toString() | fn }}
  </span>
</template>

<script>
export default {
  props: {
    seconds: Number
  },

  interval: null,

  data() {
    return {
      remained: this.seconds
    };
  },

  watch: {
    seconds(value) {
      this.remained = value;
      this.run();
    }
  },

  mounted() {
    this.run();
  },

  methods: {
    decrement() {
      if (--this.remained <= 0) {
        clearInterval(this.$options.interval);
        this.$emit("ended");
      }
    },

    run() {
      if (this.remained > 0) {
        clearInterval(this.$options.interval);
        this.$options.interval = setInterval(this.decrement, 1000);
      }
    }
  }
};
</script>
