.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: $alert-link-font-weight;
}

.alert-dismissible {
  padding-left: $close-font-size + $alert-padding-x * 2;

  .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }

  .alert-outline-#{$color} {
    @include alert-outline-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}