.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);

  @at-root a#{&} {
    @include hover-focus() {
      text-decoration: none;
    }
  }

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-left: $badge-pill-padding-x;
  padding-right: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

.badge-lg {
  padding: $badge-padding-y * 1.5 $badge-padding-x * 2.5;
  @include border-radius($badge-pill-border-radius);
  font-size: 1.1em;
}

.badge-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1em 0 0;
  text-align: center;
  flex-basis: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.badge-rounded-circle {
  height: calc(1em + 0.7rem);
  width: calc(1em + 0.7rem);
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.badge-lg {
    height: calc(1em + 1.4em);
    width: calc(1em + 1.8em);
  }
}
