// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    cursor: default;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-#{$color}-soft {
    @include button-soft-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn-outline-light {
  color: darken($dark, 50%);
}

.btn-outline-white {
  @include button-outline-variant($dark, $black, $light, $black);
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;
  transition: $btn-transition;

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: $light;
    transition: $btn-transition;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

.btn-link-dark{
  @extend .btn-link;

  @include hover() {
    color: darken($link-hover-color, 5%);
    text-decoration: $link-hover-decoration;
    background-color: darken($light, 5%);
  }
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

.btn-xs {
  @include button-size(
    $btn-padding-y-xs,
    $btn-padding-x-xs,
    $btn-font-size-xs,
    $btn-line-height-xs,
    $btn-border-radius-xs
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-icon {
  padding: 0;
  border-radius: 50%;
  transition: $btn-transition;
  justify-content: center;
  display: flex;
  align-items: center;

  width: $input-btn-font-size * 2;
  height: $input-btn-font-size * 2;

  i {
    font-size: $input-btn-font-size * 1.5;
  }

  &.btn-sm {
    width: $input-btn-font-size-sm * 2;
    height: $input-btn-font-size-sm * 2;

    i {
      font-size: $input-btn-font-size-sm * 1.5;
    }
  }

  &.btn-lg {
    width: $input-btn-font-size-lg * 2;
    height: $input-btn-font-size-lg * 2;

    i {
      font-size: $input-btn-font-size-lg * 1.5;
    }
  }

  &:hover {
    background-color: $light;
    transition: $btn-transition;
  }
}

.btn-icon-outline {
  @extend .btn-icon;
  border: $border-width solid $light;
}

.btn-outline-twitter {
  @include button-outline-variant(#1da1f2);
}
.btn-outline-google {
  @include button-outline-variant(#db4437);
}
.btn-outline-instagram {
  @include button-outline-variant(#dd2a7b);
}
