.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  > hr {
    margin-left: 0;
    margin-right: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: $card-spacer-x;
  color: $card-color;
}

.card-title {
  margin-bottom: $card-spacer-y;
}

.card-subtitle {
  margin-top: -$card-spacer-y / 2;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  @include hover() {
    text-decoration: none;
  }

  + .card-link {
    margin-right: $card-spacer-x;
  }
}

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0;
  color: $card-cap-color;
  background-color: $card-cap-bg;
  border-bottom: $card-cap-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}

.card-header-tabs {
  margin-left: -$card-spacer-x / 2;
  margin-bottom: -$card-spacer-y;
  margin-right: -$card-spacer-x / 2;
  border-bottom: 0;
}

.card-header-pills {
  margin-left: -$card-spacer-x / 2;
  margin-right: -$card-spacer-x / 2;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: $card-img-overlay-padding;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .card-img#{$infix},
    .card-img#{$infix}-top {
      @include border-top-radius($card-inner-border-radius);
    }

    .card-img#{$infix},
    .card-img#{$infix}-bottom {
      @include border-bottom-radius($card-inner-border-radius);
    }

    .card-img#{$infix},
    .card-img#{$infix}-left {
      @include border-left-radius($card-inner-border-radius);
    }
    
    .card-img#{$infix},
    .card-img#{$infix}-right {
      @include border-right-radius($card-inner-border-radius);
    }
  }
}

.card-btn:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.card-deck {
  .card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$card-deck-margin;
    margin-right: -$card-deck-margin;

    .card {
      flex: 1 0 0%;
      margin-left: $card-deck-margin;
      margin-bottom: 0;
      margin-right: $card-deck-margin;
    }
  }
}

.card-group {
  > .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;

    > .card {
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-right: 0;
        border-right: 0;
      }

      @if $enable-rounded {
        &:not(:last-child) {
          @include border-right-radius(0);

          .card-img-top,
          .card-header {
            border-top-left-radius: 0;
          }

          .card-img-bottom,
          .card-footer {
            border-bottom-left-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-left-radius(0);

          .card-img-top,
          .card-header {
            border-top-right-radius: 0;
          }

          .card-img-bottom,
          .card-footer {
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block;
      width: 100%;
    }
  }
}

.accordion {
  > .card {
    overflow: hidden;

    &:not(:last-of-type) {
      border-bottom: 0;
      @include border-bottom-radius(0);
    }

    &:not(:first-of-type) {
      @include border-top-radius(0);
    }

    > .card-header {
      @include border-radius(0);
      margin-bottom: -$card-border-width;
    }
  }
}
