.list-group {
  display: flex;
  flex-direction: column;

  padding-right: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: $list-group-action-color;
  text-align: inherit;

  @include hover-focus() {
    z-index: 1;
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
  }
}

.list-group-item {
  position: relative;
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  color: $list-group-color;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($list-group-border-radius);
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    pointer-events: none;
    background-color: $list-group-disabled-bg;
  }

  &.active {
    z-index: 2;
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  & + & {
    border-top-width: 0;

    &.active {
      margin-top: -$list-group-border-width;
      border-top-width: $list-group-border-width;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .list-group-horizontal#{$infix} {
      flex-direction: row;

      .list-group-item {
        &:first-child {
          @include border-bottom-right-radius($list-group-border-radius);
          @include border-top-left-radius(0);
        }

        &:last-child {
          @include border-top-left-radius($list-group-border-radius);
          @include border-bottom-right-radius(0);
        }

        &.active {
          margin-top: 0;
        }

        & + .list-group-item {
          border-top-width: $list-group-border-width;
          border-right-width: 0;

          &.active {
            margin-right: -$list-group-border-width;
            border-right-width: $list-group-border-width;
          }
        }
      }
    }
  }
}

.list-group-flush {
  .list-group-item {
    border-left-width: 0;
    border-right-width: 0;
    @include border-radius(0);

    &:first-child {
      border-top-width: 0;
    }
  }

  &:last-child {
    .list-group-item:last-child {
      border-bottom-width: 0;
    }
  }
}

@each $color, $value in $theme-colors {
  @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6));
}
