.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

.lift-sm {
  -webkit-transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;

  &:hover {
    box-shadow: $box-shadow-sm rgba($black, .075) !important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}

.lift {
  -webkit-transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;

  &:hover {
    box-shadow: $box-shadow rgba($black, .075) !important;
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// /* during entering and leaving : */
// .page-enter-active,
// .page-leave-active {
//   position: absolute;
//   max-width: 725.328px; /*make sur our content keep it's original width*/
//   transition: all 0.2s ease;
// }

// /* entering start */
// .page-enter {
//   right: -100%;
// }

// /* entering end */
// .page-enter-to {
//   right: 0;
// }

// /* leaving start */
// .page-leave {
//   opacity: 1;
// }

// /* leaving end */
// .page-leave-to {
//   opacity: 0;
// }
