* {
  font-family: IRANSans;
}

body,
html {
  direction: rtl;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1,
.h1 {
  @include font-size($h1-font-size);
}
h2,
.h2 {
  @include font-size($h2-font-size);
}
h3,
.h3 {
  @include font-size($h3-font-size);
}
h4,
.h4 {
  @include font-size($h4-font-size);
}
h5,
.h5 {
  @include font-size($h5-font-size);
}
h6,
.h6 {
  @include font-size($h6-font-size);
}

.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

.display-1 {
  @include font-size($display1-size);
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  @include font-size($display2-size);
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  @include font-size($display3-size);
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  @include font-size($display4-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

.hr-sm {
  width: 60px;
  border-top-width: 2px;
}

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

.list {
  &-unstyled {
    padding-right: 0;
    list-style: none;
  }

  &-unindent {
    padding-right: 0.8rem;
  }

  &-inline {
    padding-right: 0;
    list-style: none;
  }
  &-inline-item {
    display: inline-block;

    &:not(:last-child) {
      margin-left: $list-inline-padding;
    }
  }

  .list-item {
    &.active {
      color: $dark;
    }
  }
}

.initialism {
  @include font-size(90%);
  text-transform: uppercase;
}

blockquote,
.blockquote {
  margin-bottom: $spacer;
  @include font-size($blockquote-font-size);
}

blockquote footer,
.blockquote-footer {
  display: block;
  @include font-size($blockquote-small-font-size);
  color: $blockquote-small-color;
  margin-top: $spacer;
  margin-bottom: 0;

  &::before {
    content: "\2014\00A0";
  }
}

.font-size-xs {
  @include font-size($font-size-xs);
}
.font-size-sm {
  @include font-size($font-size-sm);
}
.font-size-lg {
  @include font-size($font-size-lg);
}

article {
  font-weight: 300;
  // color: $dark;

  blockquote,
  .blockquote {
    // font-size: 1.3rem;
    font-weight: 300;
    margin: $spacer * 3 0;
    text-align: center;

    &:before,
    &:after {
      margin: 2rem auto;
      display: block;
      content: "";
      width: 20%;
      min-width: 3rem;
      border-top: 2px solid $border-color;
    }
  }

  h2 {
    margin: $headings-margin-bottom * 10 0 $headings-margin-bottom * 3;
    // font-weight: 300;
    color: $dark;
  }

  h3,
  h4,
  h5,
  h6 {
    // font-weight: 400;
    color: $dark;
    margin: $headings-margin-bottom * 5 0 $headings-margin-bottom;
  }

  ol,
  ul {
    li {
      margin-top: 0.5rem;
    }
  }
}

li p {
  margin: 0;
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }
}
